@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  animation: h1 3s ease-in-out;
}
h1 span {
  color: blue;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

@import "./assets/cssFiles/interview.css";
@import "./assets/cssFiles/animations.css";
