.experiences .titleAndTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.experience {
  display: flex;
  flex-direction: column;
  width: 1000px;
  max-width: 80%;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgb(0 0 0 / 25%);
  margin: 50px auto;
}
.experience .banner {
  max-width: 100%;
  border-radius: 10px;
}

.experience .links {
  display: flex;
  justify-content: space-evenly;
}

.translated {
  display: flex;
  align-items: center;
}
.translated img {
  width: 25px;
  height: 15px;
  margin: 0 5px;
}
