.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #f2f2f2;
  padding: 0 10px 25px;
}
.experience > * {
  width: 100%;
}

.experience .titleAndTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.experience h3 {
  font-size: 2rem;
}

.bannerWrapper {
  width: 600px;
  max-width: calc(100vw - 40px);
  max-height: 65vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.5);
}
.bannerWrapper img {
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.experience .links {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.experience .links a {
  background-color: rgba(173, 216, 230, 0.5);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.experience .properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-items: center;
  justify-content: center;
  gap: 10px;
}
.experience .properties p {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aliceblue;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.25);
}
.experience .properties .title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  background-color: rgb(219, 222, 255);
  padding: 10px;
}
.experience .properties .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
}
.experience .properties .stack {
  gap: 10px;
}
.stackImg {
  width: 35px;
  height: 35px;
}
.experience .properties .language {
  display: flex;
  align-items: center;
  justify-content: center;
}
.translationImg {
  width: 25px;
  height: 15px;
  margin-right: 5px;
}

.experience .description {
  max-width: 90%;
  background-color: aliceblue;
  line-height: 2;
  padding: 10px;
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
