.experience .titleAndTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin: 5px;
}
.experience h3 {
  font-size: 2rem;
}

.bannerWrapper {
  width: 100vw;
  max-height: 65vh;
  overflow: hidden;
}
.bannerWrapper img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  cursor: pointer;
}

.experience .links {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.experience .links a {
  background-color: rgba(173, 216, 230, 0.5);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
}

.experience .properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
}
.experience .properties p {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aliceblue;
  text-align: center;
  padding-bottom: 10px;
  margin: 10px;
}
.experience .properties .title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  background-color: rgb(219, 222, 255);
  padding: 10px;
  margin-bottom: 10px;
}
.experience .properties .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.experience .properties .stack {
  gap: 10px;
}
.stackImg {
  width: 35px;
  height: 35px;
}
.experience .properties .language {
  display: flex;
  align-items: center;
  justify-content: center;
}
.translationImg {
  width: 25px;
  height: 15px;
  margin-right: 5px;
}

.experience .description {
  line-height: 2;
  padding: 10px;
}

.experience .photosBtn {
  padding: 10px;
  margin: 10px;
}
