footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
}

.contactList-footer {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: 0 auto;
}
