.formations {
  padding: 10px;
  /* margin-top: 75px; */
}
.formation {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}
.formation small {
  display: block;
}
.formation span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formationImg {
  width: 800px;
  max-width: 100%;
  border-radius: 5px;
  text-align: center;
}
