.formations {
  padding: 10px;
}
.formation {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto 25px;
  text-align: center;
  overflow: hidden;
}
.formation small {
  display: block;
}
.formation a {
  text-decoration: underline;
}
.formationImg {
  float: left;
  width: 600px;
  max-width: 100%;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  cursor: pointer;
}
.formation .part {
  font-weight: 600;
}
.formation p {
  text-align: left;
  line-height: 1.8;
}
