header {
  position: fixed;
  width: 100%;
  background-color: rgb(10, 10, 125);
  color: #fff;
  text-align: center;
  animation: upToDownHeader 2.5s ease-in-out;
  z-index: 1;
}

.parts {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.parts li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.parts li:hover {
  background-color: rgb(5, 5, 100);
}
.parts li.active {
  background-color: rgb(5, 5, 100);
  color: gold;
  border-bottom: solid;
  transition: 0.5s;
}

.changeLanguage {
  position: relative;
}
.changeLanguageBtn {
  display: flex;
  background-color: transparent;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.openLanguage {
  position: absolute;
  left: -6px;
  top: calc(100% + 1px);
  display: none;
  background-color: rgba(7, 7, 148, 0.75);
  padding: 6px;
}
.openLanguage.active {
  display: block;
}
.openLanguage button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Animations */
@keyframes upToDownHeader {
  0% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
