header {
  position: fixed;
  width: 100%;
  background-color: rgb(7, 7, 148);
  color: #fff;
  text-align: center;
  z-index: 1;
  animation: upToDownHeader 2.5s ease-in-out;
}

.parts {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 9, 126);
}
.parts li {
  /* width: 33%; */
  max-width: 200px;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}
.parts li:hover {
  background-color: rgb(7, 7, 103);
}

.changeLanguage {
  position: relative;
}
.changeLanguageBtn {
  display: flex;
  background-color: transparent;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.openLanguage {
  position: absolute;
  left: -6px;
  top: calc(100% + 1px);
  display: none;
  background-color: rgba(7, 7, 148, 0.75);
  padding: 6px;
}
.openLanguage.active {
  display: block;
}
.openLanguage button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Animations */
@keyframes upToDownHeader {
  0% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
