.interview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  background-color: #f6f6f6;
  animation: upToDownVideos 1.5s ease-out;
}

.contactList-presentation {
  animation: contactList 5s;
}

.videosWrapper {
  position: relative;
}

.videoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.videoWrapper.fixed {
  position: fixed;
  top: 75px;
  left: 25px;
}
.videoWrapper.fixed video {
  min-width: 75px;
  max-width: 25vw;
  max-height: 25vh;
}
.videoWrapper.none {
  display: none;
}

.video {
  min-width: 200px;
  max-width: 50vw;
  max-height: 50vh;
  border-radius: 50%;
  cursor: pointer;
}
.video.none {
  display: none;
}

.volumeIcon,
.questionIcon {
  width: 20px;
  height: 20px;
  background-color: rgba(173, 216, 230, 0.75);
  padding: 5px;
  border: solid 1px rgba(0, 0, 0, 0.125);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}
.volumeIcon {
  position: absolute;
  right: 0px;
}
.volumeIcon:hover,
.questionIcon:hover {
  background-color: rgb(173, 193, 230);
}
.questionIconWrapper {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  z-index: 100;
}

.questionList {
  position: absolute;
  left: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  display: none;
  min-width: 100%;
  max-width: 80vw;
  min-height: 100%;
  background-color: rgba(173, 216, 230, 0.25);
  font-size: 0.9rem;
  padding: 40px 10px 10px;
  border-radius: 10px;
  overflow: auto;
  animation: fadeIn 0.25s ease-in-out;
  z-index: 10;
}
.videoWrapper.fixed .questionList {
  padding-top: 10px;
}
@media (hover: none) {
  .videoWrapper.active .questionList {
    display: flex;
    z-index: 50;
  }
}
@media (hover: hover) {
  .videoWrapper:hover .questionList {
    display: flex;
    z-index: 50;
  }
}

.questionList li {
  display: flex;
  align-items: center;
  max-width: 100%;
  background-color: lightblue;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.hint {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(173, 216, 230, 0.9);
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 25px;
  animation: fadeIn 1s;
  animation: flash 4s infinite alternate;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes upToDownVideos {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes contactList {
  0% {
    opacity: 0;
    transform: scale(100%);
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    transform: scale(100%);
  }
  95% {
    transform: scale(110%);
  }
  to {
    transform: scale(100%);
  }
}
@keyframes rotateX {
  from {
    opacity: 0;
    transform: translateY(-50px) rotateX(90deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}
