.interview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  background-color: #f6f6f6;
  animation: upToDownVideos 1.5s ease-out;
}

.contactList-presentation {
  animation: contactList 5s;
}

.videosWrapper {
  position: relative;
}

.videoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.videoWrapper.fixed {
  position: fixed;
  top: 75px;
  left: 25px;
}
.videoWrapper.fixed video {
  min-width: 75px;
  max-width: 25vw;
  max-height: 25vh;
}
.videoWrapper.none {
  display: none;
}

.video {
  min-width: 200px;
  max-width: 50vw;
  max-height: 50vh;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.video.none {
  display: none;
}

.volumeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.questionList {
  position: absolute;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  display: flex;
  opacity: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(173, 216, 230, 0.5);
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
  transition: 0.25s;
}
.questionList:hover {
  opacity: 1;
}
.questionList li {
  display: flex;
  align-items: center;
  background-color: lightblue;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.interviewBtn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: lightblue;
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 25px;
  animation: fadeIn 1s;
}
.videoWrapper.fixed .interviewBtn {
  top: 100%;
  bottom: auto;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes upToDownVideos {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes contactList {
  0% {
    opacity: 0;
    transform: scale(100%);
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    transform: scale(100%);
  }
  95% {
    transform: scale(110%);
  }
  to {
    transform: scale(100%);
  }
}
@keyframes rotateX {
  from {
    opacity: 0;
    transform: translateY(-50px) rotateX(90deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}
