.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation section {
  background-color: rgb(245, 245, 245);
  width: calc(100% - 20px);
  border-radius: 5px;
  margin: 5px auto;
}
.stacks {
  grid-area: stacks;
}
.description {
  grid-area: description;
}
.personality {
  grid-area: personality;
}
.langages {
  grid-area: langages;
}
.hobbies {
  grid-area: hobbies;
}

.presentation section p,
.presentation section ul {
  margin: auto;
  padding: 5px 10px;
}

.contactList-presentation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}
.list li {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(235, 235, 235);
  padding: 5px 10px;
  border-radius: 5px;
}
.list img {
  width: 25px;
  height: 25px;
}

.langages-list {
  display: flex;
  justify-content: center;
}
.langages-list li {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-align: center;
  margin: 0 5px;
}

@media (min-width: 600px) {
  .presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "stacks stacks"
      "description description"
      "langages hobbies"
      "personality personality";
    align-items: start;
    row-gap: 10px;
  }

  .presentation section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
