@import "./assets/cssFiles/header.css";

@import "./assets/cssFiles/interview.css";

@import "./assets/cssFiles/presentation.css";
@import "./assets/cssFiles/formation.css";
@import "./assets/cssFiles/experience.css";
@import "./assets/cssFiles/experienceDetailled.css";

@import "./assets/cssFiles/footer.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
